@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root {
  --primary:#3b82f6;
  --secondary:#e2e8f0;
  --border: rgb(153, 153, 153)
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  color: rgb(36, 36, 36);
  font-size: 14px;
}

html,
body{
  box-sizing: border-box;
  height: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  height: 100%;
  width: 100%;
}

.wraper{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.main-wraper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  left: 0px;
  position: absolute;
}

.header{
  height: 30px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-direction: row-reverse;
}

.main{
  height: 100%;
  padding: 5px;
  overflow: auto;
  position: relative;

}

.sidebar{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
  background-color: var(--secondary);
  overflow: auto;
  padding: 10px;
  position: fixed;
  left: -1000px;
  height: 100%;
  z-index: 99999999;
  transition: all ease-in-out 300ms;

}

.open{
  left: 0px;
}

.sidebar > a{
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
}
.sidebar > a:hover{
  background-color: black;
  color: white;
}

.map{
  height: 100%;
  position: relative;
  background-color: rgba(49, 51, 49, 0.342);
}
.map.overlay{
  filter: brightness(0.5);
}

table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--border);
  background-color: var(--secondary);
  backdrop-filter: blur(4px);
}

td, tr, th{
  border: 1px solid var(--border);
  padding: 20px;
}


th{
  background-color: rgba(0, 0, 0, 0.575);
  color: white;
}

form{
  width: auto;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid var(--border);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form > h1{
  text-align: center;
  font-size: 20px;
}

form > button{
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--primary);
  cursor: pointer;
  outline: none;
  border: none;
}

input, select{
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--border);
  padding: 0 10px;
}

textarea{
  padding: 10px;
}

label{
  font-size: 14px;
}

.input-wraper{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.coordinate-wraper{
  width: 100%;
  display: flex;
  gap: 10px;
}

.coordinate-wraper > input{
  width: 50%;
}
.link-wraper{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.link-wraper > a {
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  background-color: grey;
}

.login-button{
  padding: 5px;
  background-color: var(--secondary);
  border-radius: 5px;
}

.login-container{
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  height: 100%;
}

.login-container > form{
  display: flex;
  justify-content: center;
  width: 300px;
  height: fit-content;
  background-color: white;
  margin-top: 70px;
}

.button{
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.delete{
  background-color: rgb(255, 96, 96);
}

.edit{
  background-color: rgb(250, 197, 99);
}

.download{
  background-color: rgb(105, 243, 105);
}

.avatar-container{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.avatar-container{
  font-weight: bold;
}
.avatar{
  border-radius: 900px;
  width: 30px;
  height: 30px;
  background-color: var(--secondary);
}

.add-location{
  width: 80px;
  height: 80px;
  border-radius: 200px;
  padding: 5px;
  background-color: var(--primary);
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border: none;
  cursor: pointer;
}

.select-map{
  border-radius: 10px;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 20px;
  left: calc(50% - 100px);
  background-color: white;
  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.success-alert{
  background-color: #d1e7dd;
  z-index: 999999999999;
  width: 200px;
  position: absolute;
  right: 20px;
  top: 30px;
  padding: 20px;
  border-radius: 10px;
}
.kasus.view{
  display: flex;
}

.kasus{
  position: absolute;
  display: none;
  flex-direction: column;
  gap: 10px;
  width: 150px;
  height: 300px;
  z-index: 999999999;
  top: 60px;
  right: 20px;
}
.buttonGroup{
  display: flex;
  gap: 10px;
  position: absolute;
  z-index: 9999;
  top: 10px;
  right: 20px;
}

.buttonGroup > button{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.kasusBtn{
  position: absolute;
  background-color: white;
  top: 10px;
  right: 20px;
  z-index: 9999;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;

}

.kasus-item{
  height: 100px;
  background: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.kasus-item > div > h2{
  font-size: 30px;
}
.kasus-item > div{
  text-align: center;
}

.status-kasus{
  padding: 10px;
  display: block;
  margin-top: 20px;
  border-radius: 50px;
  background-color: rgb(12, 217, 12);
  text-align: center;
}

.petaAdministrasi.view{
  display: flex;
}
.petaAdministrasi{
  position: absolute;
  /* top: 0; */
  left: 0;
  /* bottom: 0; */
  right: 0;
  margin: 40px auto 0;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  display: none;
  z-index: 999999;
  justify-content: center;
  align-items: center;
}

.petaAdministrasi > img{
  width: 80%;
  height: 80%;
}
.petaAdministrasi > button > img{
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.petaAdministrasi > button{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  border: none;
  outline: none;
}

@media only screen and (min-width: 600px) {
  .sidebar {
   left: 0px;
  }

  .main{
    padding: 20px;
  }

  .main-wraper{
    position: absolute;
    left: 220px;
    width: calc(100% - 220px);
  }

  form{
    width: 500px;
  }

  #menu{
    display: none;
  }

  form > h1 {
    text-align: center;
    font-size: 28px;
}
  .header{
    flex-direction: row;
  }
}